.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    text-align: center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.summary-container{
    position: sticky;
    top: 0;
    background-color: rgb(236, 228, 108);
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    height: 500px;
}
@media screen and (max-width:768px) {
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
}