.phone{
    background-color:yellowgreen;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0;
}
.remove-btn{
    background-color: red;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
}
.chose-btn{
    background-color:green;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
}